<html>

<head>
    <title>JavaScript to do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheet/style.css">
     script(src="javascript/todo.js") ;
</head>

<body>
    <div class="start"></div>
    
    <div class="todo-wrapper">
        <h2>My to-do list</h2>
    <div>
        
        <form name="todo-adder" action="/" method="POST">
            <input type="text" name="email" id="email-box" placeholder="Email"/>
            <input type="text" name="name" id="name-box" placeholder="Name"/>
            <button id="add-button" class="pretty-button">Add</button>
            
        </form>
        <ul id="record-list">
            
        </ul>

        //- <form name="todo-adder" action="/delete" method="POST">
        //- <input type="text" name="input" id="todo-entry-box" placeholder="What do you want to do ..."/>
        //-     <button id="delete-button" class="pretty-button">Delete</button>
        //- </form>
        
    </div>

    </div>
    
    
</body>

</html>

